<section class="Service-section relative py-[100px]">
  <div class="bg-overlay absolute top-0 bottom-0 left-0 right-0 opacity-90" style="background-image: url(.././../assets/1.jpg);"></div>

    <div class="overlay1 absolute top-0 bottom-0 left-0 right-0 opacity-80 bg-[#292929] z-[999] " >  </div>
    <div class="container relative z-[1000] text-black px-28">
      <div class="row">
        <div class="col-md-4 ftco-animate">
          <div class="media d-block text-center block-6 services">
            <div class="icon d-flex justify-content-center align-items-center ">
              <span class="material-symbols-outlined">
                social_leaderboard
                </span>
            </div>
            <div class="media-body">
              <strong>+{{ numberofawards }}</strong>
              <h3 class="heading">Number of Awards</h3>
           
            </div>
          </div>      
        </div>
        <div class="col-md-4 ftco-animate">
          <div class="media d-block text-center block-6 services">
            <div class="icon d-flex justify-content-center align-items-center ">
              <span class="material-symbols-outlined">
                location_on
                </span>
            </div>
            <div class="media-body">
              <strong>+{{ numberofbranches }}</strong>
              <h3 class="heading">Our Branches</h3>
             
            </div>
          </div>      
        </div>
        <div class="col-md-4 ftco-animate">
          <div class="media d-block text-center block-6 services">
            <div class="icon d-flex justify-content-center align-items-center ">
              <span class="material-symbols-outlined">
                sentiment_satisfied
                </span>
            </div>
            <div class="media-body">
              <strong>+{{ happycustomer }}</strong>
              <h3 class="heading">Happy Customers</h3>
             
            </div>
          </div>    
        </div>
      </div>
    </div>
  </section>

